/**
 * Styles
 *
 * @package PTTRC
 * @subpackage css
 */

* {
	box-sizing: border-box;
	word-wrap: break-word;
}

body,
textarea,
input,
select,
button {
	text-rendering: optimizeLegibility;

	color: #5d5d5d;

	line-height: 1.231;
	font-size: 16px;
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	min-width:320px;
}

.container {
	max-width: 600px;
	padding: 4.7% 6%; /* Dashboard */
	margin: 0 auto;
	position: relative;
	overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	font-family: 'Open Sans', sans-serif;
	margin: 0.1em 0 0.2em;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

ul, pre, p, blockquote, label {
	display: block;
	margin-top: 0;
	margin-bottom: 1em;
}

code, pre {
	font-family: 'Fira Mono', monospace;
	font-size: 0.9em;
}

hr {
	height: 2px;
	border:0 none;
	background: #979797;
}

a {
	color: #5d5d5d;
}

input, textarea {
	display: inline-block;
	padding: 0 .5em;
	border: 1px solid #888;
	line-height: 30px;
}

input[type="checkbox"] {
	display: inline-block;
	margin-left: 0;
}

label > input,
label > textarea {
	display: block;
	width: 100%;

	font-size: inherit;
}

label {
	font-size: 20px;
}

button, .button {
	background: #fff;
	line-height: 30px;
	min-width: 80px;
	text-align: center;
	padding: 0 8%;
	border: 1px solid #888;

	cursor: hand;
	cursor: pointer;
}
a.button {
	display: inline-block;
	text-decoration: none;
}

.button.cancel {
	float: right;
}

.reset {
	font-size: 0.8em;
	opacity: 0.8;
}

.warn {
	/* http://clrs.cc/ - red */
	background: rgb( 255, 65, 54 );
	background: rgba( 255, 65, 54, 0.4 );
	padding: 1em;
}


/**
 * Checkboxes
 * @link http://stackoverflow.com/questions/4148499/how-to-style-checkbox-using-css
 */
.checkbox:before{
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	content: "";
	background: #fff;
}
.checkbox:after{
	position: relative;
	display: block;
	left: 0;
	top: -10px;
	width: 10px;
	height: 10px;
	border: 1px solid #979797;
	content: "";
	background: #fff;
}
.checkbox:checked:after{
	/* https://www.base64-image.de/ */
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAbFBMVEVHcEyAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIBswtNpAAAAI3RSTlMAEeCX9/wJBQHz0+4651u/dUVRtWlvjCUwfR2eKRjIpWPYhn4JrZEAAAHjSURBVHhexZXdjoIwEIX7TwsgIIiCiuJ5/3fcBJo27g0wJLvfJeFLOzOHgf0rduCHfN5OktN1mzcK+k4/vioAuI5+vAZQtIbmm1YAQFpbmj9IBQDljdHISwDQr4GmJycBAKojTpD3bvZ7Yvuedw0Arkpo/qPB7F+Ifj7Ofkb16+nQ+fYsjvmnAkf6Z98ZlvnR/KRdfP0xx3xJ86338eKH6kc5HPNT4vfr54eipvln77u3peVXYEZ3tADcUiw0T5J/Hb2fPkj+s/F+dqbo1kjv696SAtwrLDScFoDM+xMtQbnwvnqvXTXvpaxuv8ocSnjuZmVUcr6qqL7eCw1Eel2JWooF1RkWsK3CgjutRF3AA1XFKvICHmm2+kCRhwSVWwv4KATivJMOHrVSADOVQ0Sd/S8gPHyZ1bhdHCKNmeeSwiM2RCipFAKuZoyZOzy62hT5j0bgnjB2UvCUnG2BvxAQD/YIBWRbt2BUgEsSCoDcvMXipdG0Dp5p+xYysQiVwaMve3anQCR2cAc9fuP2rcEh9jFugV20Gl8U+d4NPuKLzrKdXL786cr2chWI6IrtxkpERsqfsHbBz06MAC+9rss6IfghTEXPGY08m8uvLSPCR0DJgdHpIN6GHeBc5pYdgT/Zn/MDb2hb7+YGE+UAAAAASUVORK5CYII=');
	background-size: contain;
}
.checkbox:disabled:after{
	-webkit-filter: opacity(0.4);
}
.checkbox {
	margin-right: 8px;
}


/**
 * Main screen.
 */
.button.new-timer {
	width: 100px;
	padding: 0;
}

.search-timers-wrapper {
	display: inline-block;
	position: relative;
}
.search-timers {
	width: 170px;
	margin-left: 2%;
}
.ajax-results-timers {
	display: none;
	border: 1px solid #888;
	padding: 10px .5em;
	width: 170px;
	position: absolute;
	right: -4px;
	top: 30px;
	max-height: 280px;
	overflow: auto;
}

.ajax-results-timers p {
	margin: 0;
}

.title-clients {
	margin-top: 40px;
}

.taxonomy-terms-list,
.ajax-results-timers ul {
	list-style-type: none;
	padding-left: 0;
}

.no-taxonomy-found,
.taxonomy-terms-list {
	padding-left: 10px;
}

.taxonomy-terms-list li,
.ajax-results-timers li {
	padding: 6px 0;
}

.ajax-results-timers ul {
	margin: 0;
}


/**
 * Show taxonomy.
 */
.show-wordpress .container {
	padding: 0;
	height: 427px;
}

.show-wordpress .button {
	margin: 4.7% 6%;
}

.wordpress-iframe {
	width: 100%;
	height: 361px;
	border: 0;
	overflow: hidden;
}


/**
 * New Timer form.
 */
.ptt-form h1 {
	margin-top: 20px;
}

.ptt-details-form {
	margin-top: 20px;
}

.ptt-details-form textarea {
	height: 80px;
	resize: vertical;
}

.more-fields {
	height: 40px;
	overflow: hidden;
}

.more-link {
	display: inline-block;
	margin-bottom: 20px;
}

.ptt-form-clients {
	font-size: 12px;
}

.ptt-client-field-wrapper {
	height: 16px;
	overflow: hidden;
	margin-left: 10px;
}

.ptt-client-field-wrapper.unfolded .add-new-client-link,
.more-fields.unfolded .more-link {
	display: none;
}

.add-new-client-link {
	display: inline-block;
	margin-bottom: 10px;
}

.unfolded {
	height: auto;
}

.ptt-form-clients input[type="checkbox"] {
	width: 10px;
	height: 10px;
	line-height: normal;
}

.ptt-form-clients input[type="text"] {
	width: 100%;
	margin-bottom: .4em;
}

.ptt-form-clients > label {
	margin-bottom: 12px;
}

.ptt-form-clients .taxonomy-terms-list label {
	margin-bottom: 8px;
	font-size: 12px;
}

.ptt-form-clients .taxonomy-terms-list ul {
	margin-bottom: 0;
}

.ptt-form-clients .taxonomy-terms-list li {
	padding: 0;
}

.new-tag-input {
	width: 74%;
}

.new-tag-add-button {
	width: 24%;
	display: inline-block;
	min-width: 1px;
	padding: 0 4%;
}

.tags-list {
	margin: 7px 0 7px 16px;
	padding: 0;
	font-size: 12px;
	overflow: auto;
}

.tags-list > span {
	float: left;
	margin-right: 25px;
	font-size: 13px;
	line-height: 1.8em;
	cursor: default;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.unfolded .tags-list .tag-delete-button {
	position: absolute;
	width: 23px;
	min-width: 1px;
	height: 23px;
	border: none;
	margin: 0 0 0 -18px;
	padding: 0;
	background: 0 0;
	cursor: pointer;
	text-indent: 0;
}

.tags-list .tag-delete-button .remove-tag-icon::before {
	margin-left: 2px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #ccc;
	line-height: 1.28;
}

.tags-list .tag-delete-button .remove-tag-icon::before {
	background: 0 0;
	color: #ccc;
	content: "x";
	display: block;
	speak: none;
	height: 10px;
	width: 10px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 7px;
	font-size: 14px;
}

.tags-list .tag-delete-button:hover .remove-tag-icon::before {
	color: #888;
	border-color: #888;
}

.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	word-wrap: normal !important;
}


/**
 * Timer created / updated confirmation page.
 */
.ptt-created h1,
.ptt-updated h1 {
	margin-top: 20px;
}

.ptt-created p,
.ptt-updated p {
	text-align: center;
	margin: 90px 0 40px;
}

.ptt-created table,
.ptt-updated table {
	width: 100%;
}


/**
 * Reset button
 */
.reset-link {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
}
